
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0a0a0a;
    color: #00ffff;
}

.painel-topo {
    display: flex;
    justify-content: space-around;
    background-color: #111;
    padding: 10px;
    font-size: 14px;
}

.painel-container {
    display: flex;
    height: calc(100vh - 40px);
}

.painel-menu {
    background-color: #111;
    padding: 15px;
    width: 150px;
    display: flex;
    flex-direction: column;
}

.painel-menu a {
    color: #00ffff;
    text-decoration: none;
    margin-bottom: 15px;
}

.painel-conteudo {
    display: flex;
    width: 100%;
    padding: 10px;
    gap: 10px;
}

.painel-graficos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    gap: 10px;
}

.grafico {
    border: 1px solid #00ffff;
    width: 100%;
    text-align: center;
    padding: 30px;
    background-color: #0f0f0f;
    color: #00ffff;
}

.painel-comando {
    width: 240px;
    border: 1px solid #00ffff;
    padding: 10px;
    background-color: #111;
    font-size: 14px;
    color: #00ffff;
}
